/*
Colors used:
Background Color (Alabaster): #fafafa;
Primary Color (black): #000000; 
Secondary Color (white): #ffffff;
*/
* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.6;
    color: black;
    /* Use Arimo font if available, otherwise use a sans-serif font */
}

/* Text Header Styling*/
h1,
h2,
h3,
h4,
p {
    line-height: 1.5;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
}

h2 {
    font-size: 1.375em;
    font-weight: 500;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;
}

h4 {
    font-size: 1.125em;
    font-weight: 400;
}

p {
    font-size: 1em;
    font-weight: 400;
    font-style: normal
}

img {
    width: 100%;
}

/* Main button & link styling */
a {
    color: black;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3966DA;
    text-decoration: underline;
}

a:active {
    outline: 2px solid blue;
}

.button {
    display: inline-block;
    background-color: black;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    border-bottom: 2px solid;
    transition: 0.2s opacity;
}

.button:hover {
    color: #ffffff;
    opacity: 0.8;
    text-decoration: none;
}

.button:active {
    background-color: black;
}

.button.contact {
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    border: 2px solid black;
}

.button.contact:hover {
    background-color: transparent;
    color: #ffffff;
}

/* Header styling */
header {
    background-color: #fafafa;
    padding: 10px 5px 15px 5px;
    margin: 10px;
    border-bottom: 3px solid #fafafa;
    position: relative;
    width: 100%;
}

/* Main styling */
main {
    background-color: #fafafa;
    padding: 10px 5px 15px 5px;
    margin: 10px;
    border-bottom: 3px solid #fafafa;
}

/* Layout styling */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
}

/* Row styling */
.row {
    display: flex;
    align-items: center;
    margin: 25px 0;
    margin-bottom: 40px;
}

/* Column styling */
.column {
    flex: 1;
}

/* Picture styling */
.column.picture {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: 20px
}

.column.content {
    padding-left: 20px;
}


#hero {
    background-color: #fafafa;
    text-align: center;
    padding: 20px 0;
    font-size: 1.125em;
}

#hero h1 {
    margin: 0;
}

#hero span {
    display: inline-block;
    margin: 0 auto;
    padding: 0 100px;
}

/* Logo styling */
.logo {
    font-size: 1.5em;
    font-weight: 600;
}

/* Navigation styling */
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 400;
    margin-top: -30px;
}

/* About styling */
#headshot {
    float: right;
}
#story {
    float: left;
}
#skills {
    clear: both;
    margin-top: 20px;
}

/* Footer styling */
footer {
    background-color: #fafafa;
    padding: 10px 5px 15px 5px;
    margin: 10px;
    border-bottom: 3px solid #fafafa;
}

.social {
    text-align: center;
}

.social a {
    display: inline-block;
    margin: 0 20px ;
}

.social svg {
    width: 50px;
    height: auto
}