/*
Colors used:
Background Color (Alabaster): #fafafa;
Primary Color (black): #000000; 
Secondary Color (white): #ffffff;
*/
* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.6;
    color: black;
    /* Use Arimo font if available, otherwise use a sans-serif font */
}

/* Text Header Styling*/
h1,
h2,
h3,
h4,
p {
    line-height: 1.5;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
}

h2 {
    font-size: 1.375em;
    font-weight: 500;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;
}

h4 {
    font-size: 1.125em;
    font-weight: 400;
}

p {
    font-size: 1em;
    font-weight: 400;
    font-style: normal
}

img {
    width: 100%;
}

/* Main button & link styling */
a {
    color: black;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3966DA;
    text-decoration: underline;
}

a:active {
    outline: 2px solid blue;
}

.button {
    display: inline-block;
    background-color: black;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    border-bottom: 2px solid;
    transition: 0.2s opacity;
}

.button:hover {
    color: #ffffff;
    opacity: 0.8;
    text-decoration: none;
}

.button:active {
    background-color: black;
}

.button.contact {
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    border: 2px solid black;
}

.button.contact:hover {
    background-color: transparent;
    color: #ffffff;
}

/* Header styling */
header {
    background-color: #fafafa;
    padding: 10px 5px 15px 5px;
    border-bottom: 3px solid #fafafa;
    position: relative;
    width: 100%;
}

/* Main styling */
main {
    background-color: #fafafa;
    padding: 10px 5px 15px 5px;
    margin: 10px;
    border-bottom: 3px solid #fafafa;
}

/* Layout styling */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}

.header.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Row styling */
.row {
    display: flex; 
    align-items: center;
    margin: 25px 0;
    margin-bottom: 40px;
}

/* Column styling */

/* Picture styling */
.column.picture {
    max-width: 100%;
    height: auto;
    display: block;
}

#hero {
    background-color: #fafafa;
    text-align: center;
    padding: 20px 0;
    font-size: 1.125em;
}

#hero h1 {
    margin: 0;
}

#hero span {
    display: inline-block;
    margin: 0 auto;
}

/* Logo styling */
.logo {
    font-size: 1.5em;
    font-weight: 600;
}

/* Navigation styling */
nav {
    float:right; 
    margin-top: 25px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 400;
}

/* About styling */
#headshot {
    float: right;
}
#story {
    float: left;
}
#skills {
    clear: both;
    margin-top: 20px;
}

/* Footer styling */
footer {
    background-color: #fafafa;
    padding: 10px 5px 15px 5px;
    margin: 10px;
    border-bottom: 3px solid #fafafa;
    text-align: center;
}

.social {
    text-align: center;
    margin-bottom: 20px;
}

.social a {
    display: inline-block;
    margin: 0 10px ;
}

.social img {
    width: 30px;
    height: auto
}
[class*="col-"] {
    float: left;
}
.row::after {
    content: "";
    clear:both;
    display: table;
}
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

.col-vert-center {
    display: flex;
    vertical-align: middle;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
    .logo {
        float: left;
    }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}