/*
Colors used:
Background Color (Alabaster): #fafafa;
Primary Color (black): #000000; 
Secondary Color (white): #ffffff;
*/
body {
    background-color: #fafafa;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.6;
    color: black;
    /* Use Arimo font if available, otherwise use a sans-serif font */
}

h1,
h2,
h3,
h4,
p {
    line-height: 1.5;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
}

h2 {
    font-size: 1.375em;
    font-weight: 500;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;
}

h4 {
    font-size: 1.125em;
    font-weight: 400;
}

p {
    font-size: 1em;
    font-weight: 400;
    font-style: normal
}

img {
    width: 100%;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover,
a:focus {
    color: #3966DA;
    text-decoration: underline;
}

a:active {
    outline: 2px solid blue;
}

.button {
    display: inline-block;
    background-color: black;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    border-bottom: 2px solid;
    transition: 0.2s opacity;
}

.button:hover {
    background-color: darkgray;
    opacity: 0.8;
    text-decoration: none;
}

.button:active {
    background-color: black;
}

.button.contact {
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    border: 2px solid black;
  }

.button.contact:hover {
    background-color: black;
    color: #ffffff;
}