# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Iman Laique Portfolio</title>
</head>

<body></body>

</html>